wails3
.task
vendor/
.idea
node_modules/
.DS_Store
*.log
.env
.env.*.local
coverage/
coverage.out
coverage.html
*.cache
/coverage.txt
bin/
dist/
tasks
/cli
/core
local.test
/i18n-validate
.angular/

patch_cov.*
go.work.sum
.kb
