wails3
build/
!pkg/build
!cmd/core-gui/build
!docs/cmd/build
.task
vendor/
.idea
node_modules/
.DS_Store
*.log
.env
.env.*.local
coverage/
coverage.out
coverage.html
*.cache
/coverage.txt
bin/
tasks


